
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Partiallogin.cshtml";
}



<body>
    <div class="login-box">
        <h1>Login</h1>
        <div class="textbox">
            <i class="far fa-user"></i>
            <input type="text" placeholder="Username" name="" value="">
        </div>



        <div class="textbox">
            <i class="fas fa-unlock-alt"></i>
            <input type="password" placeholder="Password" name="" value="">
        </div>


        <input class="bttn" type="button" value="Sign in" onclick="window.location.href = 'http://localhost:44319/Home'" />
    </div>

</body>

