
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb" style="margin-top:-25px;">
                        <li><a href="http://localhost:44319/Home">Home </a></li>

                        <li> / SmartWatches</li>
                    </ul>

                    @*<h2 style="margin-top:30px;color:#bb495a;">SmartWatches</h2>*@
                    @*<hr style="background-color:#bb495a;height:3px; text-align:center;width:150px;" />*@
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <h4 class="card bg-danger text-center card-header w-100 text-white">Fitbit Versa 2</h4>
                        <img src="~/Images/Smartwatches/Samsung Galaxy Fit e(2).jpg" class="card-img-top" style="height: 300px;" />
                        <div class="card-body">
                            <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                            <h5 class="col px-2">Rate</h5>
                            <div class="btn-group-vertical float-left">
                                <button type="button" class="btn btn-success">Good</button>
                                <button type="button" class="btn btn-warning">Okay</button>
                                <button type="button" class="btn btn-danger">Bad</button>
                            </div>
                            <h5 class="card-text text-right text-danger w-30 h-30"><br />6000 L.E</h5>
                            <form action="/Home/SmartWatches2" method="post">
                                <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <h4 class="card bg-danger text-center card-header w-100 text-white">Fitbit Versa 2</h4>
                        <img src="~/Images/Smartwatches/Fitbit Versa Lite Smartwatch.jpg" class="card-img-top" style="height: 300px;" />
                        <div class="card-body">
                            <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                            <h5 class="col px-2">Rate</h5>
                            <div class="btn-group-vertical float-left">
                                <button type="button" class="btn btn-success">Good</button>
                                <button type="button" class="btn btn-warning">Okay</button>
                                <button type="button" class="btn btn-danger">Bad</button>
                            </div>
                            <h5 class="card-text text-right text-danger w-30 h-30"><br />8000 L.E</h5>
                            <form action="/Home/SmartWatches2" method="post">
                                <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <h4 class="card bg-danger text-center card-header w-100 text-white">Fitbit Versa 2</h4>
                        <img src="~/Images/Smartwatches/Fitbit Versa 2 Smartwatch.jpg" class="card-img-top" style="height: 300px;" />
                        <div class="card-body">
                            <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                            <h5 class="col px-2">Rate</h5>
                            <div class="btn-group-vertical float-left">
                                <button type="button" class="btn btn-success">Good</button>
                                <button type="button" class="btn btn-warning">Okay</button>
                                <button type="button" class="btn btn-danger">Bad</button>
                            </div>
                            <h5 class="card-text text-right text-danger w-30 h-30"><br />9000 L.E</h5>
                            <form action="/Home/SmartWatches2" method="post">
                                <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="margin-left:450px;margin-top:2px">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="http://localhost:5817/Home/SmartWatchesPage2">2</a></li>
                <li class="page-item"><a class="page-link" href="http://localhost:5817/Home/SmartWatchesPage2">Next</a></li>
            </ul>
        </nav>

    </body>
