<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb" style="margin-top:-10px;height:43px;">

                    <li><a href="http://localhost:44319/Products">  Products </a></li>/
                    <li><a href="http://localhost:44319/Gaming">Video games </a></li>
                    /
                    <li>  PS4  </li>
                </ul>

                @*<h2 style="margin-top:30px;color:#bb495a;">SmartWatches</h2>*@
                @*<hr style="background-color:#bb495a;height:3px; text-align:center;width:150px;" />*@
            </div>
        </div>
        <div class="row">
            @*<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="card">
                        <h4 class="card bg-danger text-center card-header w-100 text-white">Ni No Kuni- Wrath of the White Witch Remastered</h4>
                        <img src="~/Images/Gaming/PS4/Ni No Kuni- Wrath of the White Witch Remastered.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                        <div class="card-body">
                            <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                            <h5 class="col px-2">Rate</h5>
                            <div class="btn-group-vertical float-left">
                                <button type="button" class="btn btn-success">Good</button>
                                <button type="button" class="btn btn-warning">Okay</button>
                                <button type="button" class="btn btn-danger">Bad</button>
                            </div>
                            <h5 class="card-text text-right text-danger w-30 h-30"><br />200 L.E</h5>
                            <form action="/Products/VideoGames/PS4" method="post">
                                <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                            </form>
                        </div>
                    </div>
                </div>*@
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Samurai Shodown  <br />2020</h4>
                    <img src="~/Images/Gaming/PS4/Samurai Shodown.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success" data-toggle="popover" data-content="Now you can rate Thank you :) ">Good</button>
                            <button type="button" class="btn btn-warning" data-toggle="popover" data-content="Now you can rate Thank you :)">Okay</button>
                            <button type="button" class="btn btn-danger" data-toggle="popover" data-content="Now you can rate Thank you :)">Bad</button>

                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />250 L.E</h5>
                        <form action="/Products/VideoGames/PS4" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            <!--Button trigger modal -->
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                            <!--Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Product details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Number of playable people (offline)	: </b>1-4 <br />
                                            <b>Number of playable people (online) 	: </b>1-22
                                            <br /><b>Import Images  : </b>	✓
                                            <br /><b>Stadium Edit : </b>	✓
                                            <br /><b>Share / Play video  : </b>	✓
                                            <br /><b>Share / Share Play : </b>	✓
                                            <br /><b>Remote Play  : </b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Surge 2 <br />2020</h4>
                    <img src="~/Images/Gaming/PS4/Surge 2.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px; width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success" data-toggle="popover" data-content="Now you can rate Thank you :) ">Good</button>
                            <button type="button" class="btn btn-warning" data-toggle="popover" data-content="Now you can rate Thank you :)">Okay</button>
                            <button type="button" class="btn btn-danger" data-toggle="popover" data-content="Now you can rate Thank you :)">Bad</button>

                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />400 L.E</h5>
                        <form action="/Products/VideoGames/PS4" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            <!--Button trigger modal -->
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                            <!--Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Product details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Number of playable people (offline)	: </b>1-4 <br />
                                            <b>Number of playable people (online) 	: </b>1-22
                                            <br /><b>Import Images  : </b>	✓
                                            <br /><b>Stadium Edit : </b>	✓
                                            <br /><b>Share / Play video  : </b>	✓
                                            <br /><b>Share / Share Play : </b>	✓
                                            <br /><b>Remote Play  : </b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Tom Clancys Ghost Recon <br />2020 </h4>
                    <img src="~/Images/Gaming/PS4/Tom Clancys Ghost Recon Breakpoint - Auroa Edition.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px; width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success" data-toggle="popover" data-content="Now you can rate Thank you :) ">Good</button>
                            <button type="button" class="btn btn-warning" data-toggle="popover" data-content="Now you can rate Thank you :)">Okay</button>
                            <button type="button" class="btn btn-danger" data-toggle="popover" data-content="Now you can rate Thank you :)">Bad</button>

                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />350 L.E</h5>
                        <form action="/Products/VideoGames/PS4" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            <!--Button trigger modal -->
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                            <!--Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Product details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <b>Number of playable people (offline)	: </b>1-4 <br />
                                            <b>Number of playable people (online) 	: </b>1-22
                                            <br /><b>Import Images  : </b>	✓
                                            <br /><b>Stadium Edit : </b>	✓
                                            <br /><b>Share / Play video  : </b>	✓
                                            <br /><b>Share / Share Play : </b>	✓
                                            <br /><b>Remote Play  : </b>	✓
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-center">
            <ul class="pagination pagination-sm flex-sm-wrap">
                <li class="page-item"><a class="page-link" href="https://localhost:44319/Products/VideoGames/PS4">Previous</a></li>
                <li class="page-item"><a class="page-link" href="https://localhost:44319/Products/VideoGames/PS4">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({trigger : 'hover'});
        });

    </script>*@
</body>
