<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb" style="margin-top:-10px;height:43px;">

                    <li><a href="http://localhost:44319/Products">  Products </a></li>/
                    <li><a href="http://localhost:44319/Computers">  Mobile Phones </a></li>
                    /
                    <li>   Samsung 2 </li>
                </ul>

                @*<h2 style="margin-top:30px;color:#bb495a;">SmartWatches</h2>*@
                @*<hr style="background-color:#bb495a;height:3px; text-align:center;width:150px;" />*@
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @*<div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <h4 class="card bg-danger text-center card-header w-100 text-white">Samsung Galaxy Note9</h4>
                        <img src="~/Images/Mobiles/Samsung/Samsung Galaxy Note9.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                        <div class="card-body">
                            <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                            <h5 class="col px-2">Rate</h5>
                            <div class="btn-group-vertical float-left">
                                <button type="button" class="btn btn-success">Good</button>
                                <button type="button" class="btn btn-warning">Okay</button>
                                <button type="button" class="btn btn-danger">Bad</button>
                            </div>
                            <h5 class="card-text text-right text-danger w-30 h-30"><br />9000 L.E</h5>
                            <form action="/Products/MobilePhones/Samsung" method="post">
                                <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <h4 class="card bg-danger text-center card-header w-100 text-white">Samsung Galaxy S10+ </h4>
                        <img src="~/Images/Mobiles/Samsung/Samsung Galaxy S10Plus (Dual) (2).jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                        <div class="card-body">
                            <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                            <h5 class="col px-2">Rate</h5>
                            <div class="btn-group-vertical float-left">
                                <button type="button" class="btn btn-success">Good</button>
                                <button type="button" class="btn btn-warning">Okay</button>
                                <button type="button" class="btn btn-danger">Bad</button>
                            </div>
                            <h5 class="card-text text-right text-danger w-30 h-30"><br />12000 L.E</h5>
                            <form action="/Products/MobilePhones/Samsung" method="post">
                                <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <h4 class="card bg-danger text-center card-header w-100 text-white">Samsung Galaxy S10+</h4>
                        <img src="~/Images/Mobiles/Samsung/Samsung Galaxy S10Plus (Dual).jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px; width:60%;" />
                        <div class="card-body">
                            <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                            <h5 class="col px-2">Rate</h5>
                            <div class="btn-group-vertical float-left">
                                <button type="button" class="btn btn-success">Good</button>
                                <button type="button" class="btn btn-warning">Okay</button>
                                <button type="button" class="btn btn-danger">Bad</button>
                            </div>
                            <h5 class="card-text text-right text-danger w-30 h-30"><br />12000 L.E</h5>
                            <form action="/Products/MobilePhones/Samsung" method="post">
                                <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                            </form>
                        </div>
                    </div>
                </div>

            </div>*@
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Samsung Galaxy S20 Ultra</h4>
                    <img src="~/Images/Mobiles/Samsung/Samsung Galaxy S20 Ultra.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success" data-toggle="popover" data-content="Now you can rate Thank you :) ">Good</button>
                            <button type="button" class="btn btn-warning" data-toggle="popover" data-content="Now you can rate Thank you :)">Okay</button>
                            <button type="button" class="btn btn-danger" data-toggle="popover" data-content="Now you can rate Thank you :)">Bad</button>

                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />7000 L.E</h5>
                        <form action="/Products/MobilePhones/Samsung" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            <!--Button trigger modal -->
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                            <!--Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Product details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h5 style="text-align:center;"> Specifications Highlights</h5><br />

                                            <b> Display:</b>	4" 1136x640 IPS LCD<br />
                                            <b> Rear Camera(s):</b>

                                            12-MP f/2.2 (Primary)<br />

                                            <b> Selfie Camera(s) :</b>

                                            1.2-MP <br />

                                            <b>Computing:</b>

                                            A9 SoC2GB RAM64GB StorageNone <br />

                                            <b> Battery :</b>	1624 mAh <br />
                                            <b>Design:</b>	IP Rating, 113g (4oz), 123.8x58.6x7.6 mm (4.87 x 2.31 x 0.30 inches) <br />
                                            <h5 style="text-align:center;"> Display</h5><br />

                                            <b> Type :	</b>IPS LCD <br />
                                            <b>
                                                Diagonal (inches):
                                            </b>	4" <br />
                                            <b> Display/Body Ratio:</b>	60.8% <br />
                                            <b> Resolution :</b>	1136x640 <br />
                                            <b> Sharpness (PPI) :</b> 	326 PPI <br />
                                            <b>Features:</b>

                                            Multitouch<br />

                                            <b>   Color Depth	</b>24 bit (16,777,216 Colors) <br />
                                            <h5 style="text-align:center;"> Primary Camera</h5><br />

                                            <b>Name :</b> 	Rear Camera <br />
                                            <b>  Megapixel :</b>	12-MP
                                            <b> Aperture:</b>	f/2.2 <br />
                                            <b> Sensor Pixel Size :</b>	1.22 µm <br />
                                            <b> Hardware Features :</b>

                                            FlashHDR Photo <br />

                                            <b> Software Features :</b>

                                            Simul-ShotGeo Tag<br />

                                            <b>   Video Resolutions:</b>

                                            1080p/30fps1080p/60fps2160p/30fps<br />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Samsung Galaxy S20+</h4>
                    <img src="~/Images/Mobiles/Samsung/Samsung Galaxy S20plus.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success" data-toggle="popover" data-content="Now you can rate Thank you :) ">Good</button>
                            <button type="button" class="btn btn-warning" data-toggle="popover" data-content="Now you can rate Thank you :)">Okay</button>
                            <button type="button" class="btn btn-danger" data-toggle="popover" data-content="Now you can rate Thank you :)">Bad</button>

                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />8000 L.E</h5>
                        <form action="/Products/MobilePhones/Samsung" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            <!--Button trigger modal -->
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                            <!--Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Product details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h5 style="text-align:center;"> Specifications Highlights</h5><br />

                                            <b> Display:</b>	4" 1136x640 IPS LCD<br />
                                            <b> Rear Camera(s):</b>

                                            12-MP f/2.2 (Primary)<br />

                                            <b> Selfie Camera(s) :</b>

                                            1.2-MP <br />

                                            <b>Computing:</b>

                                            A9 SoC2GB RAM64GB StorageNone <br />

                                            <b> Battery :</b>	1624 mAh <br />
                                            <b>Design:</b>	IP Rating, 113g (4oz), 123.8x58.6x7.6 mm (4.87 x 2.31 x 0.30 inches) <br />
                                            <h5 style="text-align:center;"> Display</h5><br />

                                            <b> Type :	</b>IPS LCD <br />
                                            <b>
                                                Diagonal (inches):
                                            </b>	4" <br />
                                            <b> Display/Body Ratio:</b>	60.8% <br />
                                            <b> Resolution :</b>	1136x640 <br />
                                            <b> Sharpness (PPI) :</b> 	326 PPI <br />
                                            <b>Features:</b>

                                            Multitouch<br />

                                            <b>   Color Depth	</b>24 bit (16,777,216 Colors) <br />
                                            <h5 style="text-align:center;"> Primary Camera</h5><br />

                                            <b>Name :</b> 	Rear Camera <br />
                                            <b>  Megapixel :</b>	12-MP
                                            <b> Aperture:</b>	f/2.2 <br />
                                            <b> Sensor Pixel Size :</b>	1.22 µm <br />
                                            <b> Hardware Features :</b>

                                            FlashHDR Photo <br />

                                            <b> Software Features :</b>

                                            Simul-ShotGeo Tag<br />

                                            <b>   Video Resolutions:</b>

                                            1080p/30fps1080p/60fps2160p/30fps<br />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Samsung-Galaxy-Z-Flip</h4>
                    <img src="~/Images/Mobiles/Samsung/Samsung-Galaxy-Z-Flip.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success" data-toggle="popover" data-content="Now you can rate Thank you :) ">Good</button>
                            <button type="button" class="btn btn-warning" data-toggle="popover" data-content="Now you can rate Thank you :)">Okay</button>
                            <button type="button" class="btn btn-danger" data-toggle="popover" data-content="Now you can rate Thank you :)">Bad</button>

                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />13000 L.E</h5>
                        <form action="/Products/MobilePhones/Samsung" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            <!--Button trigger modal -->
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                            <!--Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Product details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h5 style="text-align:center;"> Specifications Highlights</h5><br />

                                            <b> Display:</b>	4" 1136x640 IPS LCD<br />
                                            <b> Rear Camera(s):</b>

                                            12-MP f/2.2 (Primary)<br />

                                            <b> Selfie Camera(s) :</b>

                                            1.2-MP <br />

                                            <b>Computing:</b>

                                            A9 SoC2GB RAM64GB StorageNone <br />

                                            <b> Battery :</b>	1624 mAh <br />
                                            <b>Design:</b>	IP Rating, 113g (4oz), 123.8x58.6x7.6 mm (4.87 x 2.31 x 0.30 inches) <br />
                                            <h5 style="text-align:center;"> Display</h5><br />

                                            <b> Type :	</b>IPS LCD <br />
                                            <b>
                                                Diagonal (inches):
                                            </b>	4" <br />
                                            <b> Display/Body Ratio:</b>	60.8% <br />
                                            <b> Resolution :</b>	1136x640 <br />
                                            <b> Sharpness (PPI) :</b> 	326 PPI <br />
                                            <b>Features:</b>

                                            Multitouch<br />

                                            <b>   Color Depth	</b>24 bit (16,777,216 Colors) <br />
                                            <h5 style="text-align:center;"> Primary Camera</h5><br />

                                            <b>Name :</b> 	Rear Camera <br />
                                            <b>  Megapixel :</b>	12-MP
                                            <b> Aperture:</b>	f/2.2 <br />
                                            <b> Sensor Pixel Size :</b>	1.22 µm <br />
                                            <b> Hardware Features :</b>

                                            FlashHDR Photo <br />

                                            <b> Software Features :</b>

                                            Simul-ShotGeo Tag<br />

                                            <b>   Video Resolutions:</b>

                                            1080p/30fps1080p/60fps2160p/30fps<br />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-center">
            <ul class="pagination pagination-sm flex-sm-wrap">
                <li class="page-item"><a class="page-link" href="https://localhost:44319/Products/MobilePhones/Samsung">Previous</a></li>
                <li class="page-item"><a class="page-link" href="https://localhost:44319/Products/MobilePhones/Samsung">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({trigger : 'hover'});
        });

    </script>
</body>
