<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb" style="margin-top:-10px;height:43px;">

                    <li><a href="http://localhost:44319/Products">  Products </a></li>
                    /
                    <li> Smart Televisions</li>
                </ul>

                @*<h2 style="margin-top:30px;color:#bb495a;">SmartWatches</h2>*@
                @*<hr style="background-color:#bb495a;height:3px; text-align:center;width:150px;" />*@
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Hisense H65B7100 65-4K Ultra HD DLED Smart TV</h4>
                    <img src="~/Images/Smarttvs/Hisense H65B7100 65-4K Ultra HD DLED Smart TV.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success" data-toggle="popover" data-content="Now you can rate Thank you :) ">Good</button>
                            <button type="button" class="btn btn-warning" data-toggle="popover" data-content="Now you can rate Thank you :)">Okay</button>
                            <button type="button" class="btn btn-danger" data-toggle="popover" data-content="Now you can rate Thank you :)">Bad</button>

                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />14000 L.E</h5>
                        <form action="/Products/SmartTelevisions" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            <!--Button trigger modal -->
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                            <!--Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Product details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <b>SKU  </b>	532010 <br />
                                            <b>Manufacturer No</b> 	UA55RU7105 <br />
                                            <b>display type </b>	4K Ultra HD <br />
                                            <b>display size </b>	55" <br />
                                            <b>display backlight</b> 	LED <br />
                                            <b>HDR (high dynamic range imaging) </b>	HDR10+ <br />
                                            <b>product type</b> 	Smart TV <br />
                                            <b>operating system</b> 	Tizen 2.0 <br />
                                            <b>touch display </b>	No <br />
                                            <b>display resolution </b>	3840 X 2160p <br />
                                            <b>refresh rate </b>	100 Hz <br />
                                            <b>connectivity technology </b>	Bluetooth/WiFi/Wireless <br />
                                            <b>HDMI port </b>	3 Port HDMI <br />
                                            <b>connectivity port</b> 	HDMI/USB/Optical Audio Out/Composite In/Component <br />
                                            In/Audio In/RJ-45 <br />
                                            <b>speakers </b>	Integrated Speakers (2 X 10W) <br />
                                            <b>special features</b> 	Mirroring, Web Browser, WiFi Direct, HDR, PurColour, UHD<br />
                                            Dimming <br /> 
                                            <b>pre-installed apps </b>	Netflix, T-Cast, YouTube, Dailymotion<br />
                                            <b>enclosure color </b>	Charcoal Black <br />
                                            <b>power source </b>	100 - 240 Volts <br />
                                            <b>width </b>	123.86 cm ( 4.06 ft ) <br />
                                            <b>height </b>	71.42 cm ( 2.34 ft ) <br />
                                            <b>depth </b>	26.70 cm ( 10.51 in ) <br />
                                            <b>weight </b>	17.70 kg ( 39.02 lb ) <br />
                                            <b>Shipping Weight (kg) </b> 	46.3600 <br />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">LG 65UM7340PVA 65-4K Ultra HD LED Smart TV</h4>
                    <img src="~/Images/Smarttvs/LG 65UM7340PVA 65-4K Ultra HD LED Smart TV.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success" data-toggle="popover" data-content="Now you can rate Thank you :) ">Good</button>
                            <button type="button" class="btn btn-warning" data-toggle="popover" data-content="Now you can rate Thank you :)">Okay</button>
                            <button type="button" class="btn btn-danger" data-toggle="popover" data-content="Now you can rate Thank you :)">Bad</button>

                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />12000 L.E</h5>
                        <form action="/Products/SmartTelevisions" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            <!--Button trigger modal -->
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                            <!--Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Product details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <b>SKU  </b>	532010 <br />
                                            <b>Manufacturer No</b> 	UA55RU7105 <br />
                                            <b>display type </b>	4K Ultra HD <br />
                                            <b>display size </b>	55" <br />
                                            <b>display backlight</b> 	LED <br />
                                            <b>HDR (high dynamic range imaging) </b>	HDR10+ <br />
                                            <b>product type</b> 	Smart TV <br />
                                            <b>operating system</b> 	Tizen 2.0 <br />
                                            <b>touch display </b>	No <br />
                                            <b>display resolution </b>	3840 X 2160p <br />
                                            <b>refresh rate </b>	100 Hz <br />
                                            <b>connectivity technology </b>	Bluetooth/WiFi/Wireless <br />
                                            <b>HDMI port </b>	3 Port HDMI <br />
                                            <b>connectivity port</b> 	HDMI/USB/Optical Audio Out/Composite In/Component <br />
                                            In/Audio In/RJ-45 <br />
                                            <b>speakers </b>	Integrated Speakers (2 X 10W) <br />
                                            <b>special features</b> 	Mirroring, Web Browser, WiFi Direct, HDR, PurColour, UHD<br />
                                            Dimming <br />
                                            <b>pre-installed apps </b>	Netflix, T-Cast, YouTube, Dailymotion<br />
                                            <b>enclosure color </b>	Charcoal Black <br />
                                            <b>power source </b>	100 - 240 Volts <br />
                                            <b>width </b>	123.86 cm ( 4.06 ft ) <br />
                                            <b>height </b>	71.42 cm ( 2.34 ft ) <br />
                                            <b>depth </b>	26.70 cm ( 10.51 in ) <br />
                                            <b>weight </b>	17.70 kg ( 39.02 lb ) <br />
                                            <b>Shipping Weight (kg) </b> 	46.3600 <br />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Samsung Q60R 55-4K Ultra HD QLED Smart TV</h4>
                    <img src="~/Images/Smarttvs/Samsung Q60R 55-4K Ultra HD QLED (Quantum-dot) Smart TV.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px; width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success" data-toggle="popover" data-content="Now you can rate Thank you :) ">Good</button>
                            <button type="button" class="btn btn-warning" data-toggle="popover" data-content="Now you can rate Thank you :)">Okay</button>
                            <button type="button" class="btn btn-danger" data-toggle="popover" data-content="Now you can rate Thank you :)">Bad</button>

                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />12000 L.E</h5>
                        <form action="/Products/SmartTelevisions" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            <!--Button trigger modal -->
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                            <!--Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Product details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <b>SKU  </b>	532010 <br />
                                            <b>Manufacturer No</b> 	UA55RU7105 <br />
                                            <b>display type </b>	4K Ultra HD <br />
                                            <b>display size </b>	55" <br />
                                            <b>display backlight</b> 	LED <br />
                                            <b>HDR (high dynamic range imaging) </b>	HDR10+ <br />
                                            <b>product type</b> 	Smart TV <br />
                                            <b>operating system</b> 	Tizen 2.0 <br />
                                            <b>touch display </b>	No <br />
                                            <b>display resolution </b>	3840 X 2160p <br />
                                            <b>refresh rate </b>	100 Hz <br />
                                            <b>connectivity technology </b>	Bluetooth/WiFi/Wireless <br />
                                            <b>HDMI port </b>	3 Port HDMI <br />
                                            <b>connectivity port</b> 	HDMI/USB/Optical Audio Out/Composite In/Component <br />
                                            In/Audio In/RJ-45 <br />
                                            <b>speakers </b>	Integrated Speakers (2 X 10W) <br />
                                            <b>special features</b> 	Mirroring, Web Browser, WiFi Direct, HDR, PurColour, UHD<br />
                                            Dimming <br />
                                            <b>pre-installed apps </b>	Netflix, T-Cast, YouTube, Dailymotion<br />
                                            <b>enclosure color </b>	Charcoal Black <br />
                                            <b>power source </b>	100 - 240 Volts <br />
                                            <b>width </b>	123.86 cm ( 4.06 ft ) <br />
                                            <b>height </b>	71.42 cm ( 2.34 ft ) <br />
                                            <b>depth </b>	26.70 cm ( 10.51 in ) <br />
                                            <b>weight </b>	17.70 kg ( 39.02 lb ) <br />
                                            <b>Shipping Weight (kg) </b> 	46.3600 <br />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @*<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="card">
                        <h4 class="card bg-danger text-center card-header w-100 text-white">Samsung UA55 55-4K Ultra HD LED Smart TV.jpg</h4>
                        <img src="~/Images/Smarttvs/Samsung UA55 55-4K Ultra HD LED Smart TV.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px; width:60%;" />
                        <div class="card-body">
                            <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                            <h5 class="col px-2">Rate</h5>
                            <div class="btn-group-vertical float-left">
                                <button type="button" class="btn btn-success">Good</button>
                                <button type="button" class="btn btn-warning">Okay</button>
                                <button type="button" class="btn btn-danger">Bad</button>
                            </div>
                            <h5 class="card-text text-right text-danger w-30 h-30"><br />12000 L.E</h5>
                            <form action="/Products/SmartTelevisions" method="post">
                                <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                            </form>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
    @*<nav aria-label="Page navigation example">
            <ul class="pagination" style="margin-left:450px;margin-top:2px">

                <li class="page-item"><a class="page-link" href="#">1</a></li>
               </ul>
        </nav>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({trigger : 'hover'});
        });

    </script>
</body>
