<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb" style="margin-top:-25px;">
                    
                    <li><a href="http://localhost:44319/Products">  Products </a></li>

                    <li> / SmartTelevisions</li>
                </ul>

                @*<h2 style="margin-top:30px;color:#bb495a;">SmartWatches</h2>*@
                @*<hr style="background-color:#bb495a;height:3px; text-align:center;width:150px;" />*@
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Hisense H65B7100 65-4K Ultra HD DLED Smart TV</h4>
                    <img src="~/Images/Smarttvs/Hisense H65B7100 65-4K Ultra HD DLED Smart TV.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success">Good</button>
                            <button type="button" class="btn btn-warning">Okay</button>
                            <button type="button" class="btn btn-danger">Bad</button>
                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />14000 L.E</h5>
                        <form action="/Products/SmartTelevisions" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">LG 65UM7340PVA 65-4K Ultra HD LED Smart TV</h4>
                    <img src="~/Images/Smarttvs/LG 65UM7340PVA 65-4K Ultra HD LED Smart TV.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success">Good</button>
                            <button type="button" class="btn btn-warning">Okay</button>
                            <button type="button" class="btn btn-danger">Bad</button>
                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />12000 L.E</h5>
                        <form action="/Products/SmartTelevisions" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Samsung Q60R 55-4K Ultra HD QLED (Quantum-dot) Smart TV</h4>
                    <img src="~/Images/Smarttvs/Samsung Q60R 55-4K Ultra HD QLED (Quantum-dot) Smart TV.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px; width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success">Good</button>
                            <button type="button" class="btn btn-warning">Okay</button>
                            <button type="button" class="btn btn-danger">Bad</button>
                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />12000 L.E</h5>
                        <form action="/Products/SmartTelevisions" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Samsung UA55 55-4K Ultra HD LED Smart TV.jpg</h4>
                    <img src="~/Images/Smarttvs/Samsung UA55 55-4K Ultra HD LED Smart TV.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px; width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success">Good</button>
                            <button type="button" class="btn btn-warning">Okay</button>
                            <button type="button" class="btn btn-danger">Bad</button>
                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />12000 L.E</h5>
                        <form action="/Products/SmartTelevisions" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="margin-left:450px;margin-top:2px">
           
            <li class="page-item"><a class="page-link" href="#">1</a></li>
           </ul>
    </nav>

</body>
