<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb" style="margin-top:-10px;height:43px;">

                    <li><a href="http://localhost:44319/Products">  Products </a></li>
                    /
                    <li>  SmartWatches</li>
                </ul>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Samsung Galaxy Fit e Smartwatch</h4>
                    <img src="~/Images/Smartwatches/Samsung Galaxy Fit e.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success" data-toggle="popover" data-content="Now you can rate Thank you :) ">Good</button>
                            <button type="button" class="btn btn-warning" data-toggle="popover" data-content="Now you can rate Thank you :)">Okay</button>
                            <button type="button" class="btn btn-danger" data-toggle="popover" data-content="Now you can rate Thank you :)">Bad</button>

                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />14000 L.E</h5>
                        <form action="/Home/SmartWatches1" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            


                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                         
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Product details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <b>SKU :</b>	534338<br />
                                            <b>Manufacturer No :</b>	MWVE2AEA<br />
                                            <b>operating system:</b> 	watchOS 6<br />
                                            <b>display type :</b>	LTPO OLED Display (1000 Nits)<br />
                                            <b>capacity :</b>	32 GB<br />
                                            <b>charging method :</b>	Magnetic Charging<br />
                                            <b>battery capacity :</b>	up to 18 Hours<br />
                                            <b>product type :</b>	Smartwatch<br />
                                            <b>item title 	:</b>Watch Sport Series 5<br />

                                            <b>lifestyle & usage :</b>	Active & Sporty<br />
                                            <b>model compatibility :</b>	for iPhone with iOS 13 or Later<br />
                                            <b>case size :</b>	Apple Watch 44 mm<br />
                                            <b>material :</b>	Aluminum Case, Ion-X Strengthened Glass, Sapphire Crystal Ceramic Back<br />
                                            <b>strap length :</b>	Pink Sand Sport Band<br />
                                            <b>color 	:</b>Gold<br />
                                            <b>design 	:</b>Aluminum Case with Pink Sand Sport Band<br />
                                            <b>processor type :</b>	Apple S5 (64-bit Dual Core)<br />
                                            <b>display size :</b>	44 mm<br />
                                            <b>WiFi (wireless fidelity) :</b>	Yes<br />
                                            <b>bluetooth :</b>	Bluetooth<br />
                                            <b>NFC (near field communication) :</b>	No<br />
                                            <b>micro USB 2.0 :</b>	No<br />
                                            <b>sensor :</b>	Optical/Electrical Heart, Accelerometer, Gyroscope, Barometric Altimeter<br />
                                            <b>GPS :</b>	GPS/GLONASS/Galileo/QZSS<br />
                                            <b>water resistant :</b>	Water-resistant (50 m)<br />
                                            <b>fitness feature :</b>	Comprehensive Activity Tracker, Proactive Health Monitor<br />
                                            <b>special features:</b> 	Always-On Retina Display with Force Touch, Digital Crown with Haptic Feedback<br />
                                            <b>weight :</b>	36.70 g ( 1.30 oz )<br />
                                            <b>Shipping Weight (kg):</b> 	0.5600 <br />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Fitbit Versa Lite Smartwatch</h4>
                    <img src="~/Images/Smartwatches/Fitbit Versa Lite Smartwatch.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success" data-toggle="popover" data-content="Now you can rate Thank you :) ">Good</button>
                            <button type="button" class="btn btn-warning" data-toggle="popover" data-content="Now you can rate Thank you :)">Okay</button>
                            <button type="button" class="btn btn-danger" data-toggle="popover" data-content="Now you can rate Thank you :)">Bad</button>

                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />12000 L.E</h5>
                        <form action="/Home/SmartWatches1" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                         
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Product details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <b>SKU :</b>	534338<br />
                                            <b>Manufacturer No :</b>	MWVE2AEA<br />
                                            <b>operating system:</b> 	watchOS 6<br />
                                            <b>display type :</b>	LTPO OLED Display (1000 Nits)<br />
                                            <b>capacity :</b>	32 GB<br />
                                            <b>charging method :</b>	Magnetic Charging<br />
                                            <b>battery capacity :</b>	up to 18 Hours<br />
                                            <b>product type :</b>	Smartwatch<br />
                                            <b>item title 	:</b>Watch Sport Series 5<br />

                                            <b>lifestyle & usage :</b>	Active & Sporty<br />
                                            <b>model compatibility :</b>	for iPhone with iOS 13 or Later<br />
                                            <b>case size :</b>	Apple Watch 44 mm<br />
                                            <b>material :</b>	Aluminum Case, Ion-X Strengthened Glass, Sapphire Crystal Ceramic Back<br />
                                            <b>strap length :</b>	Pink Sand Sport Band<br />
                                            <b>color 	:</b>Gold<br />
                                            <b>design 	:</b>Aluminum Case with Pink Sand Sport Band<br />
                                            <b>processor type :</b>	Apple S5 (64-bit Dual Core)<br />
                                            <b>display size :</b>	44 mm<br />
                                            <b>WiFi (wireless fidelity) :</b>	Yes<br />
                                            <b>bluetooth :</b>	Bluetooth<br />
                                            <b>NFC (near field communication) :</b>	No<br />
                                            <b>micro USB 2.0 :</b>	No<br />
                                            <b>sensor :</b>	Optical/Electrical Heart, Accelerometer, Gyroscope, Barometric Altimeter<br />
                                            <b>GPS :</b>	GPS/GLONASS/Galileo/QZSS<br />
                                            <b>water resistant :</b>	Water-resistant (50 m)<br />
                                            <b>fitness feature :</b>	Comprehensive Activity Tracker, Proactive Health Monitor<br />
                                            <b>special features:</b> 	Always-On Retina Display with Force Touch, Digital Crown with Haptic Feedback<br />
                                            <b>weight :</b>	36.70 g ( 1.30 oz )<br />
                                            <b>Shipping Weight (kg):</b> 	0.5600 <br />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Fitbit Versa Lite Smartwatch 5</h4>
                    <img src="~/Images/Smartwatches/Fitbit Versa Lite Smartwatch (2).jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px; width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success" data-toggle="popover" data-content="Now you can rate Thank you :) ">Good</button>
                            <button type="button" class="btn btn-warning" data-toggle="popover" data-content="Now you can rate Thank you :)">Okay</button>
                            <button type="button" class="btn btn-danger" data-toggle="popover" data-content="Now you can rate Thank you :)">Bad</button>

                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />12000 L.E</h5>
                        <form action="/Home/SmartWatches1" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                         

                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Product details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <b>SKU :</b>	534338<br />
                                            <b>Manufacturer No :</b>	MWVE2AEA<br />
                                            <b>operating system:</b> 	watchOS 6<br />
                                            <b>display type :</b>	LTPO OLED Display (1000 Nits)<br />
                                            <b>capacity :</b>	32 GB<br />
                                            <b>charging method :</b>	Magnetic Charging<br />
                                            <b>battery capacity :</b>	up to 18 Hours<br />
                                            <b>product type :</b>	Smartwatch<br />
                                            <b>item title 	:</b>Watch Sport Series 5<br />

                                            <b>lifestyle & usage :</b>	Active & Sporty<br />
                                            <b>model compatibility :</b>	for iPhone with iOS 13 or Later<br />
                                            <b>case size :</b>	Apple Watch 44 mm<br />
                                            <b>material :</b>	Aluminum Case, Ion-X Strengthened Glass, Sapphire Crystal Ceramic Back<br />
                                            <b>strap length :</b>	Pink Sand Sport Band<br />
                                            <b>color 	:</b>Gold<br />
                                            <b>design 	:</b>Aluminum Case with Pink Sand Sport Band<br />
                                            <b>processor type :</b>	Apple S5 (64-bit Dual Core)<br />
                                            <b>display size :</b>	44 mm<br />
                                            <b>WiFi (wireless fidelity) :</b>	Yes<br />
                                            <b>bluetooth :</b>	Bluetooth<br />
                                            <b>NFC (near field communication) :</b>	No<br />
                                            <b>micro USB 2.0 :</b>	No<br />
                                            <b>sensor :</b>	Optical/Electrical Heart, Accelerometer, Gyroscope, Barometric Altimeter<br />
                                            <b>GPS :</b>	GPS/GLONASS/Galileo/QZSS<br />
                                            <b>water resistant :</b>	Water-resistant (50 m)<br />
                                            <b>fitness feature :</b>	Comprehensive Activity Tracker, Proactive Health Monitor<br />
                                            <b>special features:</b> 	Always-On Retina Display with Force Touch, Digital Crown with Haptic Feedback<br />
                                            <b>weight :</b>	36.70 g ( 1.30 oz )<br />
                                            <b>Shipping Weight (kg):</b> 	0.5600 <br />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-center">
            <ul class="pagination pagination-sm flex-sm-wrap">
                <li class="page-item"><a class="page-link" href="https://localhost:44319/Products/SmartWatches">Previous</a></li>
                <li class="page-item"><a class="page-link" href="https://localhost:44319/Products/SmartWatches">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
  
</body>
