<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb" style="margin-top:-25px;">
                 
                    <li><a href="http://localhost:44319/Products">  Products </a></li>

                    <li> / SmartWatches</li>
                </ul>

                @*<h2 style="margin-top:30px;color:#bb495a;">SmartWatches</h2>*@
                @*<hr style="background-color:#bb495a;height:3px; text-align:center;width:150px;" />*@
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Apple Watch Sport Series 5</h4>
                    <img src="~/Images/Smartwatches/Apple Watch Sport Series 5 Smartwatch.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;"  />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success" data-target="#exampleModalCenter1">Good</button>
                            <button type="button" class="btn btn-warning" data-target="#exampleModalCenter1">Okay</button>
                            <button type="button" class="btn btn-danger" data-target="#exampleModalCenter1">Bad</button>
                        </div>
                        <div class="modal fade " id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1Title" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered float-left col-lg-12 col-md-12 col-sm-12 col-xs-12" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                          
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h1>
                                        Thank You for rating !
                                        </h1>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />14000 L.E</h5>
                        <form action="/Home/SmartWatches1" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Huawei Watch GT 2 Sport Smartwatch</h4>
                    <img src="~/Images/Smartwatches/Huawei Watch GT 2 Sport Smartwatch.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success">Good</button>
                            <button type="button" class="btn btn-warning">Okay</button>
                            <button type="button" class="btn btn-danger">Bad</button>
                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />12000 L.E</h5>
                        <form action="/Home/SmartWatches1" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Samsung Galaxy Fit e Smartwatch</h4>
                    <img src="~/Images/Smartwatches/Samsung Galaxy Fit e(2).jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px; width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success">Good</button>
                            <button type="button" class="btn btn-warning">Okay</button>
                            <button type="button" class="btn btn-danger">Bad</button>
                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />12000 L.E</h5>
                        <form action="/Home/SmartWatches1" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="margin-left:450px;margin-top:2px">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="https://localhost:44319/Products/SmartwatchesPage2">2</a></li>
            <li class="page-item"><a class="page-link" href="https://localhost:44319/Products/SmartwatchesPage2">Next</a></li>
        </ul>
    </nav>

</body>
