<head>
    @*<style>
        .closee {
            background-color: cornflowerblue;
            color: black;
        }
    </style>*@
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb"  style="margin-top:-10px;height:43px;">

                    <li><a href="http://localhost:44319/Products">  Products </a></li>/
                    <li><a href="http://localhost:44319/Gaming">   Video games </a></li>
                    /
                    <li>  XBOX Video games 2</li>
                </ul>

                @*<h2 style="margin-top:30px;color:#bb495a;">SmartWatches</h2>*@
                @*<hr style="background-color:#bb495a;height:3px; text-align:center;width:150px;" />*@
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Gears of War 5</h4>
                    <img src="~/Images/Gaming/XBOX/Gears of War 5.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success">Good</button>
                            <button type="button" class="btn btn-warning">Okay</button>
                            <button type="button" class="btn btn-danger" >Bad</button>
                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />200 L.E</h5>
                        <form action="/Products/VideoGames/XBOX" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            <!--Button trigger modal -->
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                            <!--Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body"> ... </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Forza 7 Motorsport</h4>
                    <img src="~/Images/Gaming/XBOX/Forza 7 Motorsport Ultimate Edition.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px;width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success">Good</button>
                            <button type="button" class="btn btn-warning">Okay</button>
                            <button type="button" class="btn btn-danger">Bad</button>
                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />350 L.E</h5>
                        <form action="/Products/VideoGames/XBOX" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            <!--Button trigger modal -->
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                            <!--Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body"> ... </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="card">
                    <h4 class="card bg-danger text-center card-header w-100 text-white">Plant vs Zombies Battle </h4>
                    <img src="~/Images/Gaming/XBOX/Plant vs Zombies Battle for Neighborville.jpg" class="card-img-top mx-auto d-block" style="height: 200px; margin-top:50px; width:60%;" />
                    <div class="card-body">
                        <h3 class="card-title text-right float-right mb-0 pb-0">Price</h3>
                        <h5 class="col px-2">Rate</h5>
                        <div class="btn-group-vertical float-left">
                            <button type="button" class="btn btn-success">Good</button>
                            <button type="button" class="btn btn-warning">Okay</button>
                            <button type="button" class="btn btn-danger">Bad</button>
                        </div>
                        <h5 class="card-text text-right text-danger w-30 h-30"><br />250 L.E</h5>
                        <form action="/Products/VideoGames/XBOX" method="post">
                            <input type="submit" class="btn btn-primary float-right" value="Add To Cart" /><br /><br />
                            <!--Button trigger modal -->
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" style="margin-left:30px;" data-target="#exampleModalLong"> Details </button>
                            <!--Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" ariahidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body"> ... </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="margin-left:450px;margin-top:2px">
            <li class="page-item"><a class="page-link" href="https://localhost:44319/Products/VideoGames/XBOX">Previous</a></li>
            <li class="page-item"><a class="page-link" href="https://localhost:44319/Products/VideoGames/XBOX">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

</body>
